@import url("component/menu.css");

.root {
    /* Background global */
    -fx-base: #383838;       /* couleur de base des composants */
    -fx-background: #282828;

    -fx-inner-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-text-fill: white !important;  /* couleur du texte par défaut */

}