
/* === SCROLL BARS === */
.scroll-bar {
    -fx-background-color: -fx-background !important;
    -fx-border-color: transparent !important;
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
}

.scroll-bar .thumb {
    -fx-background-color: #646464 !important;
    -fx-background-radius: 4 !important;
    -fx-border-radius: 4 !important;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #7A7A7A !important;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #8C8C8C !important;
}

.scroll-bar .track {
    -fx-background-color: -fx-background !important;
    -fx-border-color: transparent !important;
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: -fx-background !important;
    -fx-border-color: transparent !important;
    -fx-padding: 0 !important;
}